.simple-crud{
    &__title{
        font-size: 22px;
        font-weight: bolder;
        margin-bottom: 16px;
    }
    &__controls{
        &__item{
            padding: 6px;
        }
    }
    &__actions{
        
    }
}