<div [ngSwitch]="customerType">
    <div fxLayout="row" fxLayoutAlign="end start">
        <button class="cmp-btn cmp-btn--violet" mat-dialog-close>
            <i class="fa fa-times"></i>
        </button>
    </div>
    <div class="choose-person" *ngSwitchCase="0">
        <h3 class="choose-person__question">Elija su tipo de persona:</h3>
        <div class="choose-person__options" fxLayoutAlign="space-around center">
            <div class="options__option" (click)="selectPerson(1)" fxLayoutAlign="space-around center">
                Natural
                <img class="option__img" src="assets/images/natural4.png" alt="">
            </div>
            <p>o</p>
            <div class="options__option options__option--natural" (click)="selectPerson(2)" fxLayoutAlign="space-around center">
                Jurídica
                <img class="option__img" src="assets/images/legal1.png" alt="">
            </div>
        </div>
    </div>
    <div *ngSwitchCase="1">
        <mat-horizontal-stepper [linear]="isLinear">
            <mat-step [stepControl]="frmNaturalPhoto">
                <form [formGroup]="frmNaturalPhoto">
                    <ng-template matStepLabel>Foto</ng-template>
                    <div fxLayoutAlign="center center">
                        <gen-photo-input class="freelancer-details__photo" [required]="true" [asBase64]="false" [(photoSrc)]="customerPhoto" [photoPublicUrl]="customer.photo"></gen-photo-input>
                    </div>
                    <div class="padding-button" fxLayoutAlign="end center" fxLayoutGap>
                        <button mat-button matStepperNext class="cmp-btn cmp-btn--blue">Siguiente</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="frmNaturalBasicData">
                <form [formGroup]="frmNaturalBasicData">
                    <ng-template matStepLabel>Datos</ng-template>
                    <div fxLayoutAlign="space-between center">
                        <mat-form-field fxFlex=48>
                            <input matInput type="text" placeholder="Nombre" formControlName="firstName">
                            <mat-error>Requerido</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex=48>
                            <input matInput type="text" placeholder="Apellidos" formControlName="lastName">
                            <mat-error>Requerido</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayoutAlign="space-between center">
                        <mat-form-field fxFlex=48>
                            <input matInput type="number" placeholder="Dni/Ruc" formControlName="ruc">
                            <mat-error>Requerido</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex=48>
                            <input matInput type="number" placeholder="Celular" formControlName="cellphone">
                            <mat-error>Requerido</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayoutAlign="space-between center">
                        <mat-form-field fxFlex=100>
                            <input matInput type="text" placeholder="Dirección" formControlName="address">
                            <mat-error>Requerido</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayoutAlign="space-between center">
                        <mat-form-field fxFlex=48>
                            <input matInput type="number" placeholder="Teléfono" formControlName="phone">
                            <mat-error>Requerido</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex=48>
                            <input matInput type="text" placeholder="Email" formControlName="email">
                            <mat-error>Requerido</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="padding-button" fxLayoutAlign="space-between center">
                        <button mat-button matStepperPrevious class="cmp-btn cmp-btn--white-blue">Anterior</button>
                        <button mat-button matStepperNext class="cmp-btn cmp-btn--white-blue" (click)="doAction()">{{btnLabel}}</button>
                    </div>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
    <div *ngSwitchCase="2">
        <mat-horizontal-stepper [linear]="isLinear">
            <mat-step [stepControl]="frmLegalPhoto">
                <form [formGroup]="frmLegalPhoto">
                    <ng-template matStepLabel>Foto</ng-template>
                    <div fxLayoutAlign="center center">
                        <gen-photo-input class="freelancer-details__photo" [required]="true" [asBase64]="false" [(photoSrc)]="customerPhoto" [photoPublicUrl]="customer.photo"></gen-photo-input>
                    </div>
                    <div class="padding-button" fxLayoutAlign="end center" fxLayoutGap>
                        <button mat-button matStepperNext class="cmp-btn cmp-btn--blue">Siguiente</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="frmLegalBasicData">
                <form [formGroup]="frmLegalBasicData">
                    <ng-template matStepLabel>Datos</ng-template>
                    <div fxLayoutAlign="space-between center">
                        <mat-form-field fxFlex=100>
                            <input matInput type="text" placeholder="Razón Social" formControlName="businessName">
                            <mat-error>Requerido</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayoutAlign="space-between center">
                        <mat-form-field fxFlex=100>
                            <input matInput type="text" placeholder="Dirección" formControlName="address">
                            <mat-error>Requerido</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayoutAlign="space-between center">
                        <mat-form-field fxFlex=48>
                            <input matInput type="number" placeholder="RUC" formControlName="ruc">
                            <mat-error>Requerido</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex=48>
                            <input matInput type="number" placeholder="Teléfono" formControlName="phone">
                            <mat-error>Requerido</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="padding-button" fxLayoutAlign="space-between center">
                        <button mat-button matStepperPrevious class="cmp-btn cmp-btn--white-blue">Anterior</button>
                        <button mat-button matStepperNext class="cmp-btn cmp-btn--blue">Siguiente</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="frmLegalContacts">
                <form [formGroup]="frmLegalContacts">
                    <ng-template matStepLabel>Contacto</ng-template>
                    <div fxLayoutAlign="space-between center">
                        <mat-form-field fxFlex=48>
                            <input matInput type="text" placeholder="Nombres Contacto" formControlName="firstName">
                            <mat-error>Requerido</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex=48>
                            <input matInput type="text" placeholder="Apellidos Contacto" formControlName="lastName">
                            <mat-error>Requerido</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayoutAlign="space-between center">
                        <mat-form-field fxFlex=100>
                            <input matInput type="text" placeholder="Cargo" formControlName="position">
                            <mat-error>Requerido</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayoutAlign="space-between center">
                        <mat-form-field fxFlex=48>
                            <input matInput type="number" placeholder="Celular" formControlName="cellphone">
                            <mat-error>Requerido</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex=48>
                            <input matInput type="text" placeholder="Email" formControlName="email">
                            <mat-error>Requerido</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="padding-button" fxLayoutAlign="space-between center">
                        <button mat-button matStepperPrevious class="cmp-btn cmp-btn--white-blue">Anterior</button>
                        <button mat-button matStepperNext class="cmp-btn cmp-btn--blue" (click)="doAction()">{{btnLabel}}</button>
                    </div>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </div>