<div fxLayout="column" class="enterprise-list" [ngClass]="{'cont wrapper':inDashboard}">
  <div fxLayout="row" class="enterprise-list__header" [ngClass]="{'cont__title':inDashboard}">
    <h2>Empresas</h2>
    <span fxFlex></span>
    <button class="cmp-btn cmp-btn--violet" (click)="crud('create')">Crear Empresa</button> 
  </div>  
  <div class="enterprise-list__dataset" [ngClass]="{'cmp-card':inDashboard}">
    <div [ngClass]="{'cmp-card__title':inDashboard}">
      <div class="enterprise-list__message">
        Hola {{currentUser?currentUser.firstName:''}}, en esta sección tu administras tus empresas, recuerda que cada empresa es,
        independiente entre sí y se puede elegir cuál es la que se está administrando actualmente.
        Para agregar más usuarios administrador hacer <b>click</b> en Equipo.
      </div>
    </div>
    <div [ngClass]="{'cmp-card__body':inDashboard}">
      <div class="cmp-table">
        <ul class="cmp-table__header" fxLayout="row" fxLayoutAlign="space-between center">
          <li fxFlex="20" class="header__title header__title--action u-h-center">Nombre</li>
          <li fxFlex="20" class="header__title header__title--action u-h-center">RUC</li>
          <li fxFlex="20" class="header__title header__title--action u-h-center">Administrar</li>
          <li fxFlex="10" class="header__title header__title--action u-h-center">Equipo</li>
          <li fxFlex="30" class="header__title u-h-center">Acciones</li>
        </ul>
        <ul class="cmp-table__body enterprise-list__dataset__item" *ngFor="let enterprise of enterpriseList"
          fxLayout="row" fxLayoutAlign="space-between center">
          <li fxFlex="20" class="body__text u-h-center">{{enterprise.name}}</li>
          <li fxFlex="20" class="body__text u-h-center">{{enterprise.ruc}}</li>
          <li fxFlex="20" class="body__text u-h-center">
            <button class="cmp-btn cmp-btn--grey enterprise-list__dataset__item__managing-indicator"
            [ngClass]="{'cmp-btn--green': isManaging(enterprise)}" (click)="manageThis(enterprise)">
              {{isManaging(enterprise)?'Administrando':'Administrar'}}
            </button>          
          </li>
          <li fxFlex="10" class="body__text u-h-center">
            <a (click)="goToEnterpriseUsers(enterprise)">
              <i class="fa fa-users"></i>&nbsp;{{enterprise.adminsQuantity || 0}}
            </a> 
          </li>
          <li fxFlex="30" class="body__text u-h-center">
              <button class="cmp-btn cmp-btn--actions cmp-btn--responsive" (click)="crud('update',enterprise)">
                <i class="fa fa-pencil cmp-btn--responsive__icon" aria-hidden="true"></i> 
                <span class="cmp-btn--responsive__label">Editar</span>
              </button>
              <button class="cmp-btn cmp-btn--violet cmp-btn--actions cmp-btn--responsive" (click)="crud('delete',enterprise)"
                [disabled]="isManaging(enterprise)">
                <i class="fa fa-trash-o cmp-btn--responsive__icon" aria-hidden="true"></i>
                <span class="cmp-btn--responsive__label">Eliminar</span>
              </button>
          </li>
        </ul>
      </div>
    </div>    
  </div>
</div>
