<!--component html goes here -->
<!--component html goes here -->
<div class="cont-sidebar">
    <div class="cont-sidebar__user-info">
        <p class="logo">{{logo}}</p>
        <p class="name">{{dataInput.name}}</p>
    </div>
    <div class="cont-sidebar__menu-side">
        <div class="menu-side__cont-notice">
            <a class="cmp-btn-skyblue" routerLink="../publicar/descripcion-del-empleo"> <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>Publicar aviso</a>
        </div>
        <div class="menu-side__cont-link">
            <a class="cmp-btn-side" routerLink="../avisos"> <i class="fa fa-calendar-o" aria-hidden="true"></i>Mis avisos </a>
            <a class="cmp-btn-side cmp-btn-side--last" routerLink="../notificaciones/notificaciones"> <i class="fa fa-bell" aria-hidden="true"></i>Notificaciones</a>
        </div>
    </div>
    <p class="rights">v.0.1 <br> © 2017 Copyright</p>
</div>