// component css goes here
// component css goes here
@import '../../../../assets/styles/1.settings/_colors.scss';
.cont-sidebar {
    background-color: $white-0;
    color: $grey-1;
    position: absolute;
    left: 0;
    height: 100%;
    width: 250px;
    box-shadow: 1px 0px 5px $grey-1;
    text-align: center;
    .cont-sidebar__user-info {
        padding: 45px;
        .logo {
            display: inline-block;
            border: 3px solid $grey-3;
            border-radius: 46px;
            background-color: $green-1;
            color: $white-0;
            font-size: 24px;
            width: 80px;
            height: 80px;
            padding-top: 20px;
            text-align: center;
        }
        .name {
            margin-top: 15px;
        }
    }
    .cont-sidebar__menu-side {
        .menu-side__cont-notice {
            padding: 15px;
            .cmp-btn-skyblue {
                display: block;
                width: 100%;
                .fa-calendar-plus-o {
                    margin-right: 10px;
                }
            }
        }
        .menu-side__cont-link {
            margin-top: 10px;
            .cmp-btn-side .fa {
                margin-right: 10px;
            }
            .cmp-btn-side--last {
                border-bottom: 1px solid $grey-3;
            }
        }
    }
    .rights {
        position: absolute;
        bottom: 30px;
        width: 100%;
        font-size: 14px;
    }
}