<!--component html goes here -->
<ul class="cont-header__home">
    <div fxLayout fxLayoutAlign="space-between center">
        <li fxFlex=190px class="cont-logo">
            <img class="cont-logo__logo" routerLink="../publicar/descripcion-del-empleo" src="/assets/images/unibank.jpg" alt="">
        </li>
        <li fxFlex=200px class="cont-option" fxLayout fxLayoutAlign="space-between center">
            <button>
                    <i class="fa fa-bell"></i> 
                </button>
            <div fxFlex=150px class="cont-actions" fxLayout fxLayoutAlign="space-between center">
                <p class="logo">H</p>
                <p class="text"> German</p>
                <i class="fa  fa-angle-down"></i>
            </div>
            <!-- <div class="cmp-modal" [hidden]="flagModal">
                <div class="cmp-modal__arrow"></div>
                <div class="cmp-modal__cont-modal">
                    <p class="cont-modal__header"> Tienes notificaciones pendientes {{data.counter}}</p>
                    <div class="cont-modal__body">
                        <div class="body__user" fxLayout fxLayoutAlign="start center" *ngFor="let item of data.temporal">
                            <img class="user__logo" src="{{item.url}}" alt="">
                            <div class="user__user-data">
                                <p class="user-data__name">{{item.fullNames}} <span>{{item.hour}}</span></p>
                                <p class="user-data__action">{{item.msg}}</p>
                            </div>
                        </div>
                    </div>
                    <p class="cont-modal__footer" routerLink="/administrador/notificaciones/notificaciones">Ver todas mis notificaciones </p>
                </div>
            </div> -->
            <!-- <div class="cmp-modal-perfil" [hidden]="flagModalPerfil">

                <div class="cont-modal__action" routerLink="/administrador/perfil/perfil" fxLayout fxLayoutAlign="space-between center">
                    <p class="action__text">Perfil</p>
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class="cont-modal__action" routerLink="/faqs" fxLayout fxLayoutAlign="space-between center">
                    <p class="action__text">Preguntas frecuentes</p>
                    <i class="fa fa-question" aria-hidden="true"></i>
                </div>
                <div class="cont-modal__action" (click)="logout()" fxLayout fxLayoutAlign="space-between center">
                    <p class="action__text">Salir</p>
                    <i class="fa fa-power-off" aria-hidden="true"></i>
                </div>
            </div> -->
        </li>
    </div>
</ul>