// component css goes here
// component css goes here
@import '../../../../assets/styles/1.settings/_colors.scss';
.cont-header__home {
    color: $grey-1;
    top: 0;
    position: absolute;
    z-index: 100;
    background-color: $white-0;
    width: 100%;
    padding: 10px 30px;
    box-shadow: 0px 1px 5px $grey-1;
    .cont-logo {
        text-align: center;
        .cont-logo__logo {
            outline: none;
            cursor: pointer;
            max-width: 80px;
        }
    }
    .cont-option {
        font-size: 14px;
        position: relative;
        .fa-bell {
            color: $grey-1;
            font-size: 20px;
            cursor: pointer;
        }
        .cont-actions {
            cursor: pointer;
            .text {
                font-weight: 500;
                color: $grey-1;
                font-size: 15px;
            }
            .logo {
                border: 2px solid $grey-3;
                border-radius: 30px;
                width: 54px;
                text-align: center;
                padding-top: 13px;
                height: 54px;
                background-color: $green-1;
                color: $white-0;
                font-size: 20px;
            }
            .fa-angle-down {
                font-size: 25px;
                color: $skyblue-0;
            }
        }
    }
}

.icon_notification {
    display: inline-block;
    position: relative;
    height: 35px;
    width: 32px;
    text-align: left;
    span {
        box-sizing: border-box;
        font-size: 10px;
        display: inline-block;
        padding: 4px 6px;
        border-radius: 4px;
        position: absolute;
        right: 0;
        top: 0;
        background-color: red;
        color: #fff;
    }
}