<div>   
    <div [ngSwitch]="currentState" class="dialog-enterprise-none">
        <div class="dialog-enterprise-none__start" *ngSwitchCase="0" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="35px">
            <h1>Hola Dinjo Josafat</h1>
            <div fxLayout="column" fxLayoutAlign="center center">
                <p>Actualmente no tienes ninguna empresa registrada.</p>
                <p>Vamos a registrar tu primera empresa para continuar.</p>
            </div>
            <br><br><br>
            <button class="c-btn" (click)="createSelected()">Crear empresa</button>
            <a (click)="exitSelected()">Salir de genesis</a>
        </div>    
        <gen-enterprise-details class="dialog-enterprise-none__creation" *ngSwitchCase="1" mode="create" [doChangesOnFinish]="false" (onFinish)="enterpriseCreated($event)"></gen-enterprise-details>
        <div  class="dialog-enterprise-none__congrats" *ngSwitchCase="2" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
            <h2>Felicitaciones</h2>
            <img class="dialog-enterprise-none__congrats__img u-circle" *ngIf="createdEnterprise.photo" [src]="createdEnterprise.photo">
            <p>La empresa <b>{{createdEnterprise.name}}</b> fue creada con éxito.</p>
            <button class="c-btn" (click)="manageEnterprise()">Administrar empresa</button>
        </div>
    </div>
</div>