.dialog-enterprise-none{
    padding: 36px;
    .dialog-enterprise-none__start{

    }
    .dialog-enterprise-none__creation{

    }
    .dialog-enterprise-none__congrats{
        .dialog-enterprise-none__congrats__img{
            height: 200px;
            width: 200px;
        }
    }
}