<div fxLayout="column" class="freelancer-payment-list" [ngClass]="{'cont wrapper':inDashboard}">
    <div fxLayout="row" class="freelancer-payment-list__header" [ngClass]="{'cont__title':inDashboard}">
      <h2>Pagos RxH</h2>
      <span fxFlex></span>
      <button class="cmp-btn cmp-btn--violet" (click)="crud('create')">Ingresa Pago</button> 
    </div>  
    <div class="freelancer-payment-list__dataset" [ngClass]="{'cmp-card':inDashboard}">      
      <div [ngClass]="{'cmp-card__body':inDashboard}">
        <div class="body__cont-actions" fxLayout="column">
            <div fxLayout="row" fxLayoutGap="15px">
              <mat-form-field>
                <input readonly matInput [matDatepicker]="startPicker" placeholder="Fecha de inicio" (focus)="openDatePicker(startPicker)">
                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <input readonly matInput [matDatepicker]="endPicker" placeholder="Fecha de fin" (focus)="openDatePicker(endPicker)">
                <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                <mat-datepicker #endPicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div fxLayout="row">
              <input class="cmp-input cmp-input--search" fxFlex="350px" type="text" placeholder="Buscar por nombre...">
            </div>            
        </div>
        <div class="cmp-table">
          <ul class="cmp-table__header" fxLayoutAlign="space-between center">
            <li fxFlex="20" class="header__title header__title--action u-h-center">Fecha</li>
            <li fxFlex="25" class="header__title header__title--action u-h-center">Nombre</li>
            <li fxFlex="25" class="header__title header__title--action u-h-center">Pago (S/.)</li>
            <li fxFlex="30" class="header__title u-h-center">Acciones</li>
          </ul>
          <ul class="cmp-table__body freelancer-payment-list__dataset__item" *ngFor="let payment of freelancerPaymentList"
          fxLayout="row" fxLayout="start center">
            <li fxFlex="20" class="body__text u-h-center">{{payment.creationDate | date:'dd/MM/yyyy'  }}</li>
            <li fxFlex="25" class="body__text u-h-center">{{payment.freelancer ? payment.freelancer.fullName : ''}}</li>
            <li fxFlex="25" class="body__text u-h-center">
              S/. {{(payment.rxhs? payment.total: 0) | numeric}}
            </li>
            <li fxFlex="30" class="body__text u-h-center">
                <button class="cmp-btn cmp-btn--actions cmp-btn--responsive" (click)="crud('update',payment)">
                  <i class="fa fa-pencil cmp-btn--responsive__icon" aria-hidden="true"></i>
                  <span class="cmp-btn--responsive__label">Editar</span>
                </button>
                <button class="cmp-btn cmp-btn--violet cmp-btn--actions cmp-btn--responsive"(click)="crud('delete',payment)">
                  <i class="fa fa-trash-o cmp-btn--responsive__icon" aria-hidden="true"></i>
                  <span class="cmp-btn--responsive__label">Eliminar</span>
                </button>
            </li>
          </ul>
        </div>
      </div>    
    </div>
  </div>
  