<form #form="ngForm" class="o-full-size" fxLayout="column" fxLayoutGap="15px">
  <p>Ingresa tu email y te enviaremos un correo para que puedas recuperar tu contraseña.</p>
  <mat-form-field class="o-full-width c-input">
    <input matInput type="email" required name="email" placeholder="Ingresa tu email" email="true" [(ngModel)]="email">
    <mat-error>Correo Requerido</mat-error>
  </mat-form-field>  
  <div class="cmp-message--error" fxLayout="row" fxLayoutAlign="start center" *ngIf="sendEmail==false">
    El correo ingresado no existe
  </div>  
  <div class="cmp-message--success" fxLayout="row" fxLayoutAlign="start center" *ngIf="sendEmail==true">
    La contraseña fue enviada el correo ingresado
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <button type="submit" class="cmp-btn cmp-btn--violet" (click)="recover()" [disabled]="isLoading">
      Recuperar Contraseña
    </button>  
    <a class="cmp-btn" routerLink="/auth">Volver</a>
  </div>
</form>