<form class="o-full-size" fxLayout="column" fxLayoutGap="15px">
  <p>Ingresa tu email y te enviaremos un correo para que puedas recuperar tu contraseña.</p>
  <mat-form-field class="o-full-width c-input">
    <input matInput type="email" required name="email" placeholder="Ingresa tu email" email="true" [(ngModel)]="email">
    <mat-error>Correo Requerido</mat-error>
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="center center">
      <button type="submit" class="cmp-btn cmp-btn--blue">Recuperar Contraseña</button>
  </div>
</form>