.staff-details{
    &__photo{
        height: 300px;
        width: 300px;
    }
    &--create{
        form{
            padding: 8px;
        }
    }
    .affiliation{
        mat-form-field{
            padding: 6px;
        }
    }
}