<div class="cmp-modal">
    <form [formGroup]="groupForm" novalidate (submit)="doAction()">
        <div class="cmp-modal__body" fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field class="c-input ">
                <input matInput placeholder="Banco" type="text" formControlName="bankName">
                <mat-error>Requerido</mat-error>
            </mat-form-field>
            <mat-form-field class="c-input ">
                <input matInput placeholder="Cuenta bancaria" type="number" formControlName="number">
                <mat-error>Requerido</mat-error>
            </mat-form-field>
        </div>
        <div class="cmp-modal__footer" fxLayoutAlign="end center">
            <button class="cmp-btn cmp-btn--white-blue" (click)="cancel()">Cancelar</button>
            <button class="cmp-btn cmp-btn--blue" fxFlexOffset=10px type="submit"> 
                <!-- <span class="cmp-loader"  *ngIf="loader"><span class="cmp-loader-inner"></span></span>                                 -->
                <span >{{btnLabel}}</span> 
            </button>
        </div>
    </form>
</div>