$grey-1:#9DA9AF;
$grey-2:#6C828D;
$grey-3:#DDE3E7;
$grey-4:#A4A4A4;
//
$black-0:#000000;
$black-1:#2B3D49;
$black-2:#2C3E48;
$white-0:#ffffff;
$white-1:#FEFDFA;
$white-2:#f5f5f5;
$white-3:#FBFBFB;
$white-4:#efefef;
$white-5: #F4F8FA;
$skyblue-0:#00A8FF;
$skyblue-1:#c9edff;
$skyblue-2:#F4F8FA;
$skyblue-3: #00A9FF;
$blue-1: #3B5998;
$green-1:#43B92F;
$red-1:#FF0000;
$red-2:#F0473D;
$purple-1: #392B70;