@import '../../../assets/styles/1.settings/_colors.scss';

.quotation{
    &__details{
        &__detail{
            max-height: 500px;
            .header{
                font-size: 13px;                
                &-label{
                    font-weight: bold;
                }
                &-value{

                }
            }
            .field{
                font-size: 13px;
                &-label{

                }
                &-value{

                }
            }
        }
    }
}