@import '../../../assets/styles/1.settings/_colors.scss';
.wrapper--header {
    max-width: 90%;
    height: 100%;
}

.header {

    // overflow: hidden;

    color: $grey-5;
    //overflow: hidden;
    height: 80px;
    position: fixed;
    width: 100%;
    background-color: $white-0;
    border-bottom: 1px solid $white-5;
    .header__logo {
        .logo {
            // width: 100px;
            // max-width: 150px;
            height: 100%;
            width: 220px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0px;
        }
    }
    .header__icon-bell {
        padding: 0 10px;
        .fa-bell-o {
            cursor: pointer;
        }
    }
    .header__user {
        cursor: pointer;
        padding: 0 10px;
        position: relative;
        .user__photo {
            max-width: 50px;
            border-radius: 50px;
            cursor: pointer;
        }
        .user__name {
            font-size: 14px;
            margin: 0 15px;
        }
        .fa-angle-down {
            cursor: pointer;
        }
        .user__options {
            width: 220px;
            display: none;
            position: absolute;
            bottom: 0px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            transform: translate(-10%, 102%);
            background: $white-0;
            &--visible {
                display: block;
            }
        }
    }
}