<div class="header" fxLayout fxLayoutAlgin="space-between">
    <h1>HEADER</h1>
    <!-- <div>
        <div class="header__logo">
            <img src="assets/images/n.png" alt="">
        </div>
        <div class="header__icon">
            <img src="" alt="">
        </div>
    </div>
    <div>
        <div>
            <img src="" alt="">
        </div>
        <div>
            <img src="" alt="">
            <h3>Juan Gabriel</h3>
            <img src="" alt="">
        </div>
    </div>
    <button>khnasfoauhsfoa</button> -->
</div>