<div class="cmp-modal">
    <div class="cmp-modal__header">
        <h1>nfaljsdhfjasf</h1>
    </div>
    <div class="cmp-modal__body">
        <h3 class="body__message">Recuerde que los Grupos son designados a sus Proveedores</h3>
        <form fxLayout="column" class="o-full-size login" fxLayoutGap="15px" fxLayoutAlign="center center">
            <mat-form-field>
                <input matInput placeholder="NOMBRE DEL GRUPO">
            </mat-form-field>
        </form>
    </div>
    <div class="cmp-modal__footer" fxLayoutAlign="end center">
        <button class="cmp-btn cmp-btn--white-blue" (click)="onCloseConfirm()">Cancelar</button>
        <button class="cmp-btn cmp-btn--blue" fxFlexOffset=10px (click)="onCloseConfirm()">Crear</button>
    </div>
</div>