<div class="o-full-size dashboard-body-wrapper">
    <div fxLayout="column" class="cont wrapper">
        <div fxLayout="row">
            <h2>Cotizaciones</h2>
            <span fxFlex></span>
            <button class="cmp-btn cmp-btn--violet" (click)="crud('c')"> <i class="fa fa-plus" aria-hidden="true"></i> Nueva cotización </button>
        </div>
        <div class="cmp-card ">
            <div class="cmp-card__body">
                <div class="body__cont-actions" fxLayoutAlign="space-between center">
                    <div>
                        <input [formControl]="searchFC" class="cmp-input cmp-input--search" fxFlex=350px type="text" placeholder="Buscar(Nombre/Ruc/Contacto)...">
                        <button class="cmp-btn cmp-btn--violet" fxFlexOffset=10px><i class="fa fa-calendar" aria-hidden="true"></i> Buscar por fecha</button>
                    </div>
                </div>
                <div class="body__cont-body">
                    <div class="cmp-table">
                        <ul class="cmp-table__header" fxLayout="row" fxLayoutAlign="space-between center">
                            <li fxFlex class="header__title header__title--action">Fecha <i class="fa fa-angle-down" aria-hidden="true"></i></li>
                            <li fxFlex class="header__title header__title--action">Nombre <i class="fa fa-angle-down" aria-hidden="true"></i></li>
                            <li fxFlex="20" class="header__title header__title--action">Monto/Estado <i class="fa fa-angle-down" aria-hidden="true"></i></li>
                            <li fxFlex="30" class="header__title ">Acciones</li>
                        </ul>
                        <ul class="cmp-table__body" fxLayout="row" *ngFor="let item of quotationList | async | paginate: config">
                            <li fxFlex class="body__text" fxLayoutAlign="start center">{{item.created | date:'dd/MM/yyyy'}}</li>
                            <li fxFlex class="body__text" fxLayoutAlign="start center">{{item.customer? item.customer.name : ''}}</li>
                            <li fxFlex="20" class="body__text" fxLayoutAlign="start center">{{item.totalAmmount}}({{item.state? item.state.name: ''}})</li>
                            <li fxFlex="30" class="body__text">
                                <button class="cmp-btn cmp-btn--actions" (click)="crud('u',item)"><i class="fa fa-pencil" aria-hidden="true"></i> <span fxHide.lt-lg> Editar</span> </button>
                                <button class="cmp-btn cmp-btn--violet cmp-btn--actions" (click)="crud('d',item)"><i class="fa fa-trash-o" aria-hidden="true"></i><span fxHide.lt-lg> Eliminar</span> </button>
                            </li>
                        </ul>
                        <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="load($event)">
                            <gen-paginator [pagination]="p"></gen-paginator>
                        </pagination-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>