/*.wrapper {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    max-width: 1400px;
}

.content {
    width: 100%; 
}

@media screen and (max-width: 599px) {}

*/

.wrapper {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}