<ul class="sidebar scrollbar" [ngClass]="{'sidebar--closed': menuState}">
    <li class="sidebar__menu-item sidebar__menu-item--breakdown " fxLayoutAlign="center center">
        <button class="cmp-btn cmp-btn--blue cmp-btn--sidebar" (click)="changeStateMenu()">
            <i class=" fa fa-angle-left " aria-hidden="true " *ngIf="!menuState "></i>
            <i class="fa fa-angle-right " aria-hidden="true " *ngIf="menuState "></i>
        </button>

    </li>
    <li class="sidebar__menu-item sidebar__menu-item--first " *ngIf="!hideFor(['ventas','contabilidad'])">
        <a class="menu-item__item " fxLayout="{{menuLayout}}" fxLayoutAlign="space-between center">
            <i class="fa fa-th-large" aria-hidden="true"></i>
            <span class="item__title">Panel de control</span>
            <i class="fa " aria-hidden="true "></i>
        </a>
    </li>
    <li class="sidebar__menu-item " *ngIf="!hideFor(['contabilidad'])">
        <a class="menu-item__item" fxLayout="{{menuLayout}}" fxLayoutAlign="space-between center" (click)="breakdownSubmenu(2) ">
            <i class="fa fa-sellsy" aria-hidden="true"></i>
            <span class="item__title">Ventas</span>
            <i class="fa fa-angle-down " aria-hidden="true " *ngIf="!flagArray[2] " [@menuState]="flagArray[2] "></i>
            <i class="fa fa-angle-up " aria-hidden="true " *ngIf="flagArray[2] " [@menuState]="flagArray[2] "></i>
        </a>

        <ul class="menu-item__submenu " *ngIf="flagArray[2]" [@menuState]="flagArray[2]">
            <li *ngIf="!hideFor(['ventas','contabilidad'])">
                <a class="menu-item__item menu-item__item--submenu" fxLayoutAlign="center center ">Ventas</a>
            </li>
            <li *ngIf="!hideFor(['ventas','contabilidad'])">
                <a class="menu-item__item menu-item__item--submenu" routerLink="./clientes" routerLinkActive="active" fxLayoutAlign="center center ">Clientes</a>
            </li>
            <li *ngIf="!hideFor(['contabilidad'])">
                <a class="menu-item__item menu-item__item--submenu" routerLink="./cotizaciones" routerLinkActive="active" fxLayoutAlign="center center ">Cotizaciones</a>
            </li>

            <li *ngIf="!hideFor(['ventas','contabilidad'])">
                <a class="menu-item__item menu-item__item--submenu " fxLayoutAlign="center center" routerLinkActive="active" > Ordenes</a>
            </li>
            <li *ngIf="!hideFor(['ventas','contabilidad'])">
                <a class="menu-item__item menu-item__item--submenu " fxLayoutAlign="center center " routerLinkActive="active" >Informes </a>
            </li>
        </ul>
    </li>
    <li class="sidebar__menu-item " *ngIf="!hideFor(['ventas','contabilidad'])">
        <a class="menu-item__item " fxLayout="{{menuLayout}}" fxLayoutAlign="space-between center" (click)="breakdownSubmenu(3) ">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <span class="item__title">Compras</span>
            <i class="fa fa-angle-down " aria-hidden="true " *ngIf="!flagArray[3] "></i>
            <i class="fa fa-angle-up " aria-hidden="true " *ngIf="flagArray[3] "></i>
        </a>
        <ul class="menu-item__submenu " *ngIf="flagArray[3] ">
            <li>
                <a class="menu-item__item menu-item__item--submenu" routerLink="./grupos" routerLinkActive="active" fxLayoutAlign="center center ">Grupos </a>
            </li>
            <li>
                <a class="menu-item__item menu-item__item--submenu " routerLink="./proveedores" routerLinkActive="active"  fxLayoutAlign="center center ">  Proveedores   </a>
            </li>
            <li>
                <a class="menu-item__item menu-item__item--submenu " fxLayoutAlign="center center " routerLinkActive="active" >    Productos      </a>
            </li>
            <li>
                <a class="menu-item__item menu-item__item--submenu " fxLayoutAlign="center center " routerLinkActive="active" > Facturas de Compra   </a>
            </li>
        </ul>
    </li>
    <li class="sidebar__menu-item " *ngIf="!hideFor(['ventas','contabilidad'])">
        <a class="menu-item__item " fxLayout="{{menuLayout}}" fxLayoutAlign="space-between center" (click)="breakdownSubmenu(4) ">
            <i class="fa fa-list-ul" aria-hidden="true"></i>
            <span class="item__title">Inventario</span>
            <i class="fa fa-angle-down " aria-hidden="true " *ngIf="!flagArray[4] "></i>
            <i class="fa fa-angle-up " aria-hidden="true " *ngIf="flagArray[4] "></i>
        </a>
        <ul class="menu-item__submenu " *ngIf="flagArray[4] ">
            <li>
                <a class="menu-item__item menu-item__item--submenu " fxLayoutAlign="center center " routerLinkActive="active" >    Productos  </a>
            </li>
        </ul>
    </li>
    <li class="sidebar__menu-item " *ngIf="!hideFor(['ventas','contabilidad'])">
        <a class="menu-item__item " fxLayout="{{menuLayout}}" fxLayoutAlign="space-between center" (click)="breakdownSubmenu(5) ">
            <i class="fa fa-male" aria-hidden="true"></i>
            <span class="item__title">Personal</span>
            <i class="fa fa-angle-down " aria-hidden="true " *ngIf="!flagArray[5] "></i>
            <i class="fa fa-angle-up " aria-hidden="true " *ngIf="flagArray[5] "></i>
        </a>
        <ul class="menu-item__submenu " *ngIf="flagArray[5] ">
            <li>
                <a class="menu-item__item menu-item__item--submenu " fxLayoutAlign="center center" routerLinkActive="active"  routerLink="/dashboard/personal/planillas">  Planillas   </a>
            </li>
            <li>
                <a class="menu-item__item menu-item__item--submenu " fxLayoutAlign="center center" routerLinkActive="active"  routerLink="/dashboard/personal/RxH">  RxH </a>
            </li>
        </ul>
    </li>
    <li class="sidebar__menu-item " *ngIf="!hideFor(['ventas','contabilidad'])">
        <a class="menu-item__item " fxLayout="{{menuLayout}}" fxLayoutAlign="space-between center" (click)="breakdownSubmenu(6) ">
            <i class="fa fa-money"></i>
            <span class="item__title">Pagos</span>
            <i class="fa fa-angle-down " aria-hidden="true " *ngIf="!flagArray[6] "></i>
            <i class="fa fa-angle-up " aria-hidden="true " *ngIf="flagArray[6] "></i>
        </a>
        <ul class="menu-item__submenu " *ngIf="flagArray[6] ">
            <li>
                <a class="menu-item__item menu-item__item--submenu " fxLayoutAlign="center center" routerLinkActive="active"  routerLink="/dashboard/pagos/planillas">  Planillas </a>
            </li>
            <li>
                <a class="menu-item__item menu-item__item--submenu " fxLayoutAlign="center center" routerLinkActive="active"  routerLink="/dashboard/pagos/rxh"> RxH   </a>
            </li>
            <li>
                <a class="menu-item__item menu-item__item--submenu " fxLayoutAlign="center center" routerLinkActive="active"  routerLink="/dashboard/pagos/proveedores">
                   Proveedores
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar__menu-item " *ngIf="!hideFor(['ventas'])">
        <a class="menu-item__item " fxLayout="{{menuLayout}}" fxLayoutAlign="space-between center">
            <i class="fa fa-money"></i>
            <span class="item__title">Contabilidad</span>
            <i class="fa " aria-hidden="true "></i>
        </a>
    </li>
    <li class="sidebar__menu-item " *ngIf="!hideFor(['ventas','contabilidad'])">
        <a class="menu-item__item " fxLayout="{{menuLayout}}" fxLayoutAlign="space-between center" routerLinkActive="active"  routerLink="/dashboard/usuarios">
            <i class="fa fa-users"></i>
            <span class="item__title">Usuarios</span>
            <i class="fa " aria-hidden="true "></i>
        </a>
    </li>
    <li class="sidebar__menu-item " *ngIf="!hideFor(['ventas','contabilidad'])">
        <a class="menu-item__item " fxLayout="{{menuLayout}}" fxLayoutAlign="space-between center" routerLinkActive="active"  routerLink="/dashboard/empresas">
            <i class="fa fa-building"></i>
            <span class="item__title">Empresas</span>
            <i class="fa " aria-hidden="true "></i>
        </a>
    </li>
    <!-- <li class="sidebar__menu-item sidebar__menu-item--last ">
        <a class="menu-item__item " fxLayout="{{menuLayout}}" fxLayoutAlign="space-between center ">
            <img class="item__icon " src="assets/images/icons/power-on-buton.png " alt=" ">
            <span class="item__title">Salir</span>
            <i class="fa " aria-hidden="true "></i>
        </a>
        <ul></ul>
    </li> -->
</ul>