@import '../../../assets/styles/1.settings/_colors.scss';
.sidebar {
    height: 100%;
    left: 0;
    position: fixed;
    width: 220px;
    background-color: $white-0;
    // color: $grey-5;
    position: relative;
    overflow: hidden; // padding: 20px 0;
    .sidebar__menu-item {
        .menu-item__item {
            cursor: pointer;
            padding: 15px 18px;
            color: $grey-5;
            transition: 0.5s;
            .item__icon {
                max-width: 18px;
            }
            .fa-angle-down {
                // font-size: 20px;
            }
            &:hover {
                background-color: $grey-3;
            }
        } // font-size: 20px;
        .menu-item__submenu {
            background-color: $grey-5;
            .menu-item__item--submenu {
                color: $white-1;
                &:hover {
                    background-color: $grey-4;
                }
            }
        }
    }
    .sidebar__menu-item--first {
        margin-top: 20px;
    }
    .sidebar__menu-item--last {
        bottom: 20px;
        position: absolute;
        width: 100%;
    }
}