@import '../../../assets/styles/_main.scss';
.sidebar {
    height: 100%;
    left: 0;
    width: 220px;
    background-color: $white-0;
    .sidebar__menu-item {
        .cmp-btn--sidebar {
            padding: 10px 16px;
        }
        .menu-item__item {
            @include noSelect();
            cursor: pointer;
            padding: 15px 18px;
            color: $grey-4;
            transition: 0.5s;
            .item__icon {
                max-width: 18px;
            }
            .item__title {
                text-align: center;
                margin: 5px 0;
            }
            .fa-angle-down {}
            &:hover {
                background-color: $grey-3;
            }
        }
        .menu-item__submenu {
            text-align: center;
            background-color: $grey-4;
            .menu-item__item--submenu {
                color: $white-1;
                &:hover {
                    background-color: $grey-4;
                }
            }
        }
    }
    .sidebar__menu-item--first {
        margin-top: 20px; // padding: 0 10px;
    }
    .sidebar__menu-item--last {
        bottom: 20px; // position: absolute;
        width: 100%;
    }
    .sidebar__menu-item--breakdown {
        padding: 10px;
    }
}

.sidebar--closed {
    width: 85px;
    .sidebar__menu-item {
        .menu-item__item {
            font-size: 12px;
        }
        .menu-item__submenu {
            .menu-item__item--submenu {
                font-size: 12px;
                &:hover {}
            }
        }
    }
}