<div fxLayout="column" class="enterprise-list" [ngClass]="{'cont wrapper':inDashboard}">
  <div fxLayout="row" class="enterprise-list__header" [ngClass]="{'cont__title':inDashboard}">
  </div>  
  <div class="enterprise-list__dataset" [ngClass]="{'cmp-card':inDashboard}">
    <div [ngClass]="{'cmp-card__title':inDashboard}">
      <div class="enterprise-list__message u-h-center">
        Por favor, seleccione una empresa a administrar
      </div>
    </div>
    <div [ngClass]="{'cmp-card__body':inDashboard}">
      <div class="cmp-table">
        <!-- <ul class="cmp-table__header" fxLayoutAlign="space-between center">
          <li fxFlex="20" class="header__title header__title--action u-h-center">Nombre</li>
          <li fxFlex="20" class="header__title header__title--action u-h-center">Administrar</li>
        </ul> -->
        <ul class="cmp-table__body enterprise-list__dataset__item" *ngFor="let enterprise of enterpriseList"
          fxLayout="row" fxLayoutAlign="start center">
          <li fxFlex="50" class="body__text u-h-center">{{enterprise.name}}</li>
          <li fxFlex="50" class="body__text u-h-center">
            <button type="button" class="cmp-btn cmp-btn--grey enterprise-list__dataset__item__managing-indicator"
              (click)="manageThis(enterprise)">
              Administrar
            </button>          
          </li>
        </ul>
      </div>
    </div>    
  </div>
</div>
