<div class="o-full-size" fxLayout="row">
  <div fxFlex fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Usuario">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Contraseña">
      </mat-form-field>
      <div fxLayout="row">
        <a routerLink="/recuperar-password">¿Olvidaste tu contraseña?</a>
        <span fxFlex></span>
        <button class="c-btn">INGRESAR</button>
      </div>
    </div>
  </div>
  <div fxFlex="50">
    
  </div>
</div>
