<form fxLayout="column" class="o-full-size login" fxLayoutGap="15px">
  <mat-form-field class="o-full-width login__credential c-input">
    <input required matInput placeholder="Usuario"  name="user" [(ngModel)]="user">
    <mat-error>Usuario requerido</mat-error>
  </mat-form-field>
  <mat-form-field class="o-full-width login__credential c-input">
    <input required matInput placeholder="Contraseña"  name="password" [(ngModel)]="password">
    <mat-error>Contraseña requerida</mat-error>
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="start center">
    <a routerLink="recuperar-password">¿No recuerdas tu contraseña?</a>
    <span fxFlex></span>
    <button type="submit" class="cmp-btn cmp-btn--blue" (click)="login()">Ingresar</button>
  </div>
</form>