$btn-color: #ffffff;
$btn-color-bg: $purple-1;
$btn-border-radius: 20px 50%;
$btn-color-bg-hover: lighten($btn-color-bg,25%);
$btn-padding: 15px !default;
$btn-margin: 5px !default;
$btn-font-family: 'Montserrat';

.c-btn{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border-top-left-radius: $btn-border-radius;
    border-top-right-radius: $btn-border-radius;
    border-bottom-left-radius: $btn-border-radius;
    border-bottom-right-radius: $btn-border-radius;
    cursor: pointer;
    font-size: 12px;
    color: $btn-color;
    background-color: $btn-color-bg;
    padding: $btn-padding;
    margin: $btn-margin;
    font-family: $btn-font-family;
    
    &:hover{
        background-color: $btn-color-bg-hover;
        text-decoration: none;
    }

    &:disabled, &--disabled {
        cursor: not-allowed;
        opacity: 0.5;
        pointer-events: none;
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
    }
}

.c-btn--large {
    padding: round(2.0 * $btn-padding);
}

.c-btn--fab{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    .c-btn--fab>*{
        text-align: center;
    }
}

.c-btn-skyblue {
    border-radius: 3px;
    padding: 10px 25px;
    background-color: $skyblue-0;
    color: $white-0;
    border: 1px solid $skyblue-0;
    &:hover {
        background-color: $white-0;
        color: $skyblue-0;
    }
    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
        pointer-events: none;
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
    }
}

.c-btn-skyblue--trash {
    &:hover {
        background-color: $red-1;
        color: $white-1;
        border: 1px solid $red-1;
    }
}

.c-btn-blue {
    background-color: $blue-1;
    color: $white-0;
    border: 1px solid $blue-1;
    &:hover {
        background-color: $white-0;
        color: $blue-1;
    }
}

.c-btn-white {
    border-radius: 3px;
    padding: 10px 25px;
    background-color: $white-0;
    color: $skyblue-0;
    border: 1px solid $skyblue-0;
    &:hover {
        background-color: $skyblue-0;
        color: $white-0;
        border: 1px solid $white-0;
    }
}

.c-btn-underline {
    cursor: pointer;
    color: $grey-1;
    padding: 10px;
    border: 2px solid transparent;
    font-weight: 700;
    color: #9baab0;
    &:hover {
        background-color: $white-0;
        color: $skyblue-0;
        border-bottom: 2px solid $skyblue-0;
    }
}

.c-btn-side {
    padding: 13px 25px;
    border-top: 1px solid $grey-3;
    display: block;
    color: $grey-1;
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    .fa {
        margin-right: 10px;
    }
    &:hover {
        background-color: $skyblue-0;
        color: $white-0;
        border-top: 1px solid $skyblue-0;
    }
}