.cmp-btn {
    padding: 10px 25px;
    background-color: $white-0;
    color: $black-0;
    border: 1px solid $white-0;
    border-radius: 30px;
    box-shadow: 0 5px 10px $grey-3;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    &:hover {
        color: $violet-1;
        border: 1px solid $violet-1;
    }
}

.cmp-btn--violet {
    background-color: $violet-1;
    border: 1px solid $violet-1;
    box-shadow: none;
    color: $white-0;
    &:hover {
        color: $violet-1;
        background-color: $white-1;
        // border: 1px solid $violet-1;
    }
}

.cmp-btn--blue {
    background-color: $blue-1;
    border: 1px solid $blue-1;
    box-shadow: none;
    color: $white-0;
    &:hover {
        color: $blue-1;
        background-color: $white-1;
        // border: 1px solid $violet-1;
    }
}

// .cmp-btn-skyblue {{
//     border-radius: 3px;
//     padding: 10px 25px;
//     background-color: $skyblue-0;
//     color: $white-0;
//     border: 1px solid $skyblue-0;
//     &:hover {
//         background-color: $white-0;
//         color: $skyblue-0;
//     }
//     &:disabled {
//         cursor: not-allowed;
//         opacity: 0.5;
//         pointer-events: none;
//         -webkit-touch-callout: none;
//         /* iOS Safari */
//         -webkit-user-select: none;
//         /* Safari */
//         -khtml-user-select: none;
//         /* Konqueror HTML */
//         -moz-user-select: none;
//         /* Firefox */
//         -ms-user-select: none;
//         /* Internet Explorer/Edge */
//         user-select: none;
//     }
// }
// .cmp-btn-skyblue--trash {
//     &:hover {
//         background-color: $red-1;
//         color: $white-1;
//         border: 1px solid $red-1;
//     }
// }
// .cmp-btn-blue {
//     background-color: $blue-1;
//     color: $white-0;
//     border: 1px solid $blue-1;
//     &:hover {
//         background-color: $white-0;
//         color: $blue-1;
//     }
// }
// .cmp-btn-white {
//     border-radius: 3px;
//     padding: 10px 25px;
//     background-color: $white-0;
//     color: $skyblue-0;
//     border: 1px solid $skyblue-0;
//     &:hover {
//         background-color: $skyblue-0;
//         color: $white-0;
//         border: 1px solid $white-0;
//     }
// }
// .cmp-btn-underline {
//     cursor: pointer;
//     color: $grey-1;
//     padding: 10px;
//     border: 2px solid transparent;
//     font-weight: 700;
//     color: #9baab0;
//     &:hover {
//         background-color: $white-0;
//         color: $skyblue-0;
//         border-bottom: 2px solid $skyblue-0;
//     }
// }
// .cmp-btn-side {
//     padding: 13px 25px;
//     border-top: 1px solid $grey-3;
//     display: block;
//     color: $grey-1;
//     text-align: left;
//     font-weight: 600;
//     font-size: 14px;
//     .fa {
//         margin-right: 10px;
//     }
//     &:hover {
//         background-color: $skyblue-0;
//         color: $white-0;
//         border-top: 1px solid $skyblue-0;
//     }
// }