.cmp-index {
    display: inline-block;
    height: 30px;
    width: 30px;
    color: $skyblue-0;
    border: 3px solid $skyblue-0;
    border-radius: 20px;
    text-align: center;
    font-size: 20px !important;
}
