@import "../1.settings/_colors.scss";

$overlay-color: #ffffff;
$overlay-color-bg: rgba(0,0,0,0.5);
$overlay-color-bg-error: rgba($red-1,0.5);

.c-overlay__container{
    position: relative;
    .c-overlay{        
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: $overlay-color-bg;
        transition: all 0.2s ease-in-out;
        &--required{
            opacity: 1;
        }
        .c-overlay__content{
            text-align: center;
            color: $overlay-color;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &:hover,& .c-overlay:hover{
        opacity: 1;
        transition: all 0.2s ease-in-out;
    }
}