.cmp-table {
    margin-top: 15px;
    padding: 5px;
    .cmp-table__header {
        border-bottom: 1px solid $grey-3;
        .header__title {
            padding: 15px;
            color: $grey-4;
            display: inline-block;
        }
        .header__title--action {
            cursor: pointer;
        }
    }
    .cmp-table__body {
        // border-top: 1px solid $white-4;
        display: inline-block;
        .body__text {
            font-size: 15px;
            padding: 10px 15px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            .cmp-btn--actions {
                padding: 8px 20px;
            }
        }
    }
}