.cmp-tag {
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 3px;
    border-radius: 3px;
    border: 1px solid $white-4;
    padding: 8px 15px;
    background-color: $white-4;
    position: relative;
    transition: .5s;
    .cmp-tag__icon {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &:hover {
        cursor: pointer;
        color: $red-1;
        border: 1px solid $red-1;
        background-color: $red-1;
        .cmp-tag__icon {
            z-index: 1;
            color: $white-0;
        }
    }
}