// component css goes here
// component css goes here
@import '../../../assets/styles/1.settings/_colors.scss';
.choose-person {
    .choose-person__question {
        font-weight: 500;
    }
    .choose-person__options {
        padding: 50px;
        .options__option {
            text-transform: uppercase;
            color: $white-0;
            border-radius: 5px;
            padding: 30px 40px;
            // background-color: $skyblue-1;
            background-color: #3998D7;
            transition: 0.5s;
            cursor: pointer;
            .option__img {
                width: 70px;
                margin-left: 10px;
            }
            &:hover {
                box-shadow: 0 5px 10px $grey-5;
                // padding: 35px 45px;
            }
        }
        .options__option--natural {
            // background-color: $violet-1;
            background-color: $violet-1;
        }
    }
}

.padding-button {
    padding: 10px 0;
}