@import '../../assets/styles/1.settings/_colors.scss';
.app {
    height: 100%;
}

.app__header {
    height: 80px;
    position: fixed;
    width: 100%;
    background-color: $white-0;
    border-bottom: 1px solid $white-5;
}

.app__body {
    height: 100%;
    padding-top: 80px;
    .body__sidevar {
        height: 100%;
        left: 0;
        position: fixed;
        width: 200px;
        background-color: $white-0;
    }
    .body__main {
        padding-left: 200px;
        height: 100%;
    }
}

//hola hola