@import '../../assets/styles/1.settings/_colors.scss';
.app {
    height: 100%;
}

.app__body {
    overflow: hidden;
    height: 100%;
    padding-top: 80px;
    .body__main {
        padding-left: 220px;
        height: 100%;
    }
}

//hola hola