@import "../../../assets/styles/1.settings/_colors.scss";

.user-list{
    &__header{
    }
    &__message{
        margin-top: 15px; 
        margin-bottom: 15px;
    }
    &__dataset{
        .cmp-input{
            margin-top: 0px;
            margin-right: 8px;
        }
        overflow-x: auto;
        &__items{
            &__you__name{
                color: $green-1;
                font-weight: 600;
            }
        }
    }
    .cmp-card__body, .cmp-table{
        margin-top: 0px;
    }    
}