*:not(i) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

ul {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
    outline: none;
    transition: .5s;
    font-size: 15px;
    font-weight: 600;
    background-color: transparent;
    // font-family: 'Montserrat';
}

a {
    cursor: pointer;
    transition: .5s;
    font-size: 15px;
    text-decoration: none;
}