@import "../../../assets/styles/1.settings/_colors.scss";

.payment-details{
    padding: 0px 15px;
    &__header{
        margin-bottom: 20px; 
    }
    &__employee-search{
        margin-bottom: 0px !important;
        & ~ mat-autocomplete{
            margin-bottom: 0px !important;
        }
    }
    &__payment{
        table{
            border-collapse: collapse;
            font-size: 0.8em;
            thead{
                tr{
                    background-color: $violet-1;
                    color: $white-0;
                }
            }
            tr{
                &:nth-child(even){
                    background-color: $white-6;
                }
                th,td{
                    padding: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                td:nth-child(3){
                    color: $green-1;
                }
                td:nth-child(4){
                    color: $red-1;
                }
            }
            .cmp-btn{
                padding: 5px 20px;
            }
            .actions-cell{
                padding: 0px !important;
                .action{
                    position: relative;
                    color: $white-0;
                    &--del{
                        background-color: $red-1;
                        &:hover{
                            background-color: rgba($red-1,0.6);
                        }
                    }
                    &--edit{
                        background-color: $blue-1;
                        &:hover{
                            background-color: rgba($blue-1,0.6);
                        }
                    }
                    i{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
                }
            }
        }
    }
    /deep/ mat-horizontal-stepper{
        display: flex;
        flex-direction: column;
        .mat-horizontal-content-container{
            flex: 1;
            .mat-horizontal-stepper-content[aria-expanded="true"]{
                height: 100%;
                // .mat-form-field-underline{
                //     bottom: 1.40em;
                // }
            }
        }
    }    
}