@import "../../../assets/styles/1.settings/_colors.scss";
@import "../../../assets/styles/2.tools/_mixins.scss";

.payment-details{
    padding: 0px 15px;
    &__header{
        margin-bottom: 20px; 
    }
    &__payment{
        table{
            border-collapse: collapse;
            font-size: 0.8em;
            thead{
                tr{
                    background-color: $violet-1;
                    color: $white-0;
                }
            }
            tr{
                &:nth-child(even){
                    background-color: $white-6;
                }
                th,td{
                    padding: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                td:nth-child(3){
                    color: $green-1;
                }
                td:nth-child(4){
                    color: $red-1;
                }
            }
            .cmp-btn{
                padding: 5px 20px;
            }
        }
        table:first-child{
            margin-bottom: 15px;
        }
    }
    /deep/ mat-horizontal-stepper{
        display: flex;
        flex-direction: column;
        .mat-horizontal-content-container{
            flex: 1;
            .mat-horizontal-stepper-content[aria-expanded="true"]{
                height: 100%;
                // .mat-form-field-underline{
                //     bottom: 1.40em;
                // }
            }
        }
    } 
    .plame{
        .plame-info{
            border-collapse: collapse;
            overflow-x: auto;
            font-size: 0.8em;
            text-align: center;
            &, td {
                border: 1px solid black;
            }
            &__header{
                background-color: $violet-1;//#cee7fb;
                color: $white-0;
                font-weight: 600;
            }
            td{
                input{
                    background-color: rgba($violet-1,0.35);
                    height: 100%;
                    width: 100%;
                    padding: 0px 6px;
                    border: none;
                    transition: all 0.3s linear;
                    &.invalid{
                        // background-color: rgba($red-3,.5);
                    }
                    &:focus{
                        outline: none;
                    }
                }
            }
            .employee-search{
                height: 100%;
                background-color: rgba($violet-1,0.35);
                input{
                    background-color: transparent;
                }
                i{
                    padding: 0px 8px;
                }
            }
        }        
        .legend-label{
            height: 16px;
            width: 16px;
            background-color: rgba($violet-1,0.35);
        }
    }    
}