@import "../../../assets/styles/1.settings/_colors.scss";

.payment-details{
    padding: 25px;
    &__header{
        margin-bottom: 20px; 
    }
    &__employee-search{
        margin-bottom: 0px !important;
        & ~ mat-autocomplete{
            margin-bottom: 0px !important;
        }
    }
    &__payment{
        // &__detail{
        //     padding: 8px;
        //     &__item{
        //         padding: 10px;
        //         &__deleter{
        //             background: $red-1;
        //             color: $white-0;
        //             border-radius: 3px;
        //             cursor: pointer;
        //         }
        //     }
        // }
        table{
            border-collapse: collapse;
            thead{
                tr{
                    background-color: $violet-1;
                    color: $white-0;
                }
            }
            tr{
                &:nth-child(even){
                    background-color: $white-6;
                }
                th,td{
                    text-align: center;
                    padding: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                td:nth-child(3){
                    color: $green-1;
                }
                td:nth-child(4){
                    color: $red-1;
                }
            }
        }
    }
    /deep/ mat-horizontal-stepper{
        display: flex;
        flex-direction: column;
        .mat-horizontal-content-container{
            flex: 1;
            .mat-horizontal-stepper-content[aria-expanded="true"]{
                height: 100%;
                // .mat-form-field-underline{
                //     bottom: 1.40em;
                // }
            }
        }
    }    
}