<div fxLayout="column" class="freelancer-list" [ngClass]="{'cont wrapper':inDashboard}">
  <div fxLayout="row" class="freelancer-list__header" [ngClass]="{'cont__title':inDashboard}">
    <h2>Trabajadores Independientes</h2>
    <span fxFlex></span>
    <button class="cmp-btn cmp-btn--violet" (click)="crud('create')">Crear Nuevo Independiente</button> 
  </div>  
  <div class="freelancer-list__dataset" [ngClass]="{'cmp-card':inDashboard}">
    <div [ngClass]="{'cmp-card__body':inDashboard}">
      <div class="body__cont-actions" fxLayoutAlign="space-between center">
          <input [formControl] ="searchFC" class="cmp-input cmp-input--search" fxFlex=350px type="text" placeholder="Buscar...">
      </div>
      <div class="cmp-table">
        <ul class="cmp-table__header" fxLayoutAlign="space-between center">
          <li fxFlex="20" class="header__title header__title--action u-h-center">DNI</li>
          <li fxFlex="20" class="header__title header__title--action u-h-center">Nombre</li>
          <li fxFlex="15" class="header__title header__title--action u-h-center">Último mes que se pagó</li>
          <li fxFlex="15" class="header__title header__title--action u-h-center">Sueldo</li>
          <li fxFlex class="header__title u-h-center">Acciones</li>
        </ul>
        <ul class="cmp-table__body freelancer-list__dataset__item" *ngFor="let freelancer of freelancerList  | async | paginate: config"
        fxLayout="row" fxLayout="start center">
          <li fxFlex="20" class="body__text u-h-center">{{freelancer.dni}}</li>
          <li fxFlex="20" class="body__text u-h-center">{{freelancer.firstName + ' ' + freelancer.lastName}}</li>
          <li fxFlex="15" class="body__text u-h-center">{{freelancer.lastDayPaid | date:'dd/MM/yyyy'}}</li>
          <li fxFlex="15" class="body__text u-h-center">S/. {{freelancer.pay | numeric}}</li>
          <li fxFlex class="body__text u-h-center">
              <button class="cmp-btn cmp-btn--actions cmp-btn--responsive" (click)="crud('update',freelancer)">
                <i class="fa fa-pencil cmp-btn--responsive__icon" aria-hidden="true"></i>
                <span class="cmp-btn--responsive__label">Editar</span>
              </button>
              <button class="cmp-btn cmp-btn--violet cmp-btn--actions cmp-btn--responsive"(click)="crud('delete',freelancer)">
                <i class="fa fa-trash-o cmp-btn--responsive__icon" aria-hidden="true"></i>
                <span class="cmp-btn--responsive__label">Eliminar</span>
              </button>
          </li>
        </ul>
        <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="load($event)">
            <gen-paginator [pagination]="p"></gen-paginator>
        </pagination-template>
      </div>
    </div>    
  </div>
</div>
