<div class="o-full-size authentication" fxLayout="row">
    <div class="authentication--left" fxFlex fxLayout="column" fxLayoutAlign="center stretch">
      <div class="authentication__route-wrapper" fxLayout="row" fxLayoutAlign="center stretch" [@routingAnimation]="prepRouteState(routerOutlet)">
        <router-outlet #routerOutlet="outlet"></router-outlet>
      </div>    
    </div>    
    <img class="genesis-logo" src="/assets/images/n.png" alt="">
    <div fxFlex="50" class="authentication__img authentication--right">
      <div class="authentication__img__background o-full-size"></div>
      <div class="authentication__img__overlay o-full-size" fxLayout="column"
      fxLayoutAlign="start start">
        <span fxFlex="35"></span>
        <div fxLayout="column">
          <span class="authentication__img__overlay__title">Bienvenido a <b>GENESIS</b></span>
          <span class="authentication__img__overlay__subtitle">Inicia sesión para acceder a tu cuenta</span>
        </div>
      </div>
    </div>
  </div>
  