<div class="o-full-size authentication" fxLayout="row">
    <div fxFlex fxLayout="column" fxLayoutAlign="center stretch">
      <div class="authentication__route-wrapper" fxLayout="row" fxLayoutAlign="center stretch" [@routingAnimation]="prepRouteState(routerOutlet)">
        <router-outlet #routerOutlet="outlet"></router-outlet>
      </div>    
    </div>
    <div fxFlex="50" class="authentication__img">
      <div class="authentication__img__background o-full-size"></div>
      <div class="authentication__img__overlay o-full-size" fxLayout="column"
      fxLayoutAlign="start start">
        <span fxFlex="35"></span>
        <span class="authentication__img__overlay__title">Bienvenido a <b>GENESIS</b></span>
        <span class="authentication__img__overlay__subtitle">Inicia sesión para acceder a tu cuenta</span>
      </div>
    </div>
  </div>
  